dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
sdf
.idea
parser/parser.iml
parser/.idea
haskell-seminar.cabal
main_csvParser.hs

*.aux
*.bbl
*.blg
*.idx
*.log
*.lof
*.log
*.pdf
*.pdflatex_output
*.bib
*.lot
*.out
*.toc
